/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/*pribadi*/
label{
  font-weight: normal;
}

#thumbnail_instruktur{
  width: auto;
  height: 450px;
  margin:0 0 0 0;
  padding:0 0 0 0;
}

#piechart_3d{
  margin:0 0 0 0;
  padding:0 0 0 0;
  font-family: monospace;
  color: rgb(40, 51, 84);
}

.tombol_kanan{
  text-align: right;
  padding-right: 10px;
}

td.kolom_detail_pegawai1{
  width: 200px;
}
td.kolom_detail_pegawai2{
  width: 400px;
}
td.kolom_detail_pegawai3{
  width: 100px;
  padding: 0px 15px 7px 15px;
}
td.kolom_detail_pegawai4{
  width: 500px;
}

.panel-heading.operator{
  background-image: url('../img/symphony.png');
  background-repeat: repeat;
  border-color: transparent;
  width: auto;
  height: 150px;
}
.panel-heading.programming{
  background-image: url('../img/3.jpg');
  border-color: transparent;
  width: auto;
  height: 150px;
}
.panel-heading.jaringan{
  background-image: url('../img/4.jpg');
  border-color: transparent;
  width: auto;
  height: 150px;
}
.panel-heading.multimedia{
  background-image: url('../img/5.jpg');
  border-color: transparent;
  width: auto;
  height: 150px;
}
.panel-heading.teknisi{
  background-image: url('../img/6.jpg');
  border-color: transparent;
  width: auto;
  height: 150px;
}

a.list-group-item{
  background-image: url('../img/cream_pixels.png');
  background-repeat: repeat;
  color: rgb(97, 162, 171);
}

.table.struktur_org{
  border-color: white;
}

th,td.struktur_org{
  text-align: center;
}

.header_img{
width:80%;
height:auto;
}

.carousel{
  /*
  width: 1130px;
  margin-left: 110px;
*/
width:100%;
height:100%;
}

.well{
	background-color: rgb(234, 235, 236);
}

.well.regulasi{
  background-color: transparent;
  border-color: transparent;
}

.well.sipeg{
  background-color: rgb(234, 235, 236);
  /*rgb(208, 220, 223);*/
  /*border-color: rgb(157, 157, 158);*/
}

.well.laporan{
  background-color: rgb(234, 235, 236);
  /*rgb(208, 220, 223);*/
  border-color: transparent;
}

.well.detail_pegawai{
  border-color: rgb(234, 235, 236);
  background-color: rgb(234, 235, 236);
  /*border-color: rgb(157, 157, 158);*/
}

.struktur_org{
  text-align: center;
}

.jumbotron.login{
  background: rgb(40, 51, 84);
  /*border-color: rgb(40, 51, 84);
  */
}

.form_login{
  width: 500px;
  height: auto;
  margin: 0 0 0 30%;
}

.jumbotron.login{
  width: 450px;
  text-align: right;
}

footer.text-center{
  margin-top: 0px;
  margin-bottom: 0px;
  height:25px;
}

p{
  text-align: justify;
}

.btn.btn-primary{
  background: rgb(40, 51, 84);
  border-color: white;
  color: white;
}
.btn.btn-primary:hover{
  background: rgb(222, 223, 226);
  border-color: rgb(40, 51, 84);
  color: rgb(40, 51, 84);
}

.row.footer{
  background: rgb(40, 51, 84);
  color: rgb(208, 225, 231);
}

footer{
  height: 100px;
}

.slideanim {visibility:hidden;}
  .slider {
      animation-name: slider;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

.navbar{
  background: rgb(40, 51, 84);
  border-color: transparent;
}

.pagination{
  background: rgb(40, 51, 84);
  border-color: rgb(40, 51, 84);
}

.panel-default .panel-heading{
  background-color: rgb(40, 51, 84);
  color: rgb(208, 225, 231);
  border-color: rgb(40, 51, 84);
  transition: box-shadow 0.5s;
}

aside.aside{
  width:100px;
  height:100px;
  float: left;
}
main.konten{
  width:auto;
  height: auto;
  float: left;
}
span{
  font-family: monospace;
}
/* Global Styles */

html,
body{
/*
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
*/
  height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}


.form-group{
	margin-bottom:5px;
}

.footer_margin{
	margin-top:20px;
}

.cleared{
	clear:both;
}

button, select {
    text-transform: none;
}

.right{
	float:right;
}

<!-------------------------  Rekap  ----------------------------->
.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 100%;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
}

.widget.widget-table .table {
margin-bottom: 0;
border: none;
}

.widget.widget-table .widget-content {
padding: 0;
}

.widget .widget-header + .widget-content {
border-top: none;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.widget .widget-content {
padding: 20px 15px 15px;
background: #FFF;
border: 1px solid #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.widget .widget-header {
position: relative;
height: 40px;
line-height: 40px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
text-shadow: 0 1px 0 #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-background-clip: padding-box;
}

thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

.widget .widget-header h3 {
top: 2px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
display: inline-block;
margin-left: 13px;
margin-right: -2px;
font-size: 16px;
color: #555;
vertical-align: middle;
}




<!-------------------------  TABLE FORM ------------------------------------------>
.table-form {
	width:100%;
}

.table-form tr td{
	padding:2px;
}
